<mat-list role="list">
  @for (option of options; track option.label){
    <mat-list-item role="listitem" [routerLink]="option.link" routerLinkActive="active"
    style="--mat-sys-on-surface: white"
    >
      {{option.label}}
    </mat-list-item>
  }
</mat-list>

<div class="tap-scan-container">
  <div class="outer-circle">
    <div class="inner-circle" [routerLink]="['/maintenance/tap-scan']" routerLinkActive="active">
      <span>Tap to scan</span>
    </div>
  </div>
</div>

<router-outlet/>
