<div class="home-layout">
  <!-- Historial de escaneos -->
  <div class="scan-history-container">
    <h1>Scan history</h1>
    <p class="diagnostic-history">Diagnostic - 04/23/2025</p>
    <p class="quick-scan">Quick Scan - 04/23/2025</p>
  </div>

  <!-- Tipo de plan -->
  <div class="subscription-container">
    <h1 class="plan-type">Plan Pro</h1>
  </div>

  <!-- Estado del vehículo -->
  <div class="vehicle-status-summary">
    <h2>Model: Toyota Rush</h2>
    <h2>Estimate lifespan: 5.2 years remaining</h2>
    <h2>System under observation</h2>
    <ul>
      <li>Electrical: Unstable performance.</li>
      <li>Suspension: Mild vibrations while driving.</li>
    </ul>
  </div>

  <!-- Alertas recientes -->
  <div class="recents-alerts-container">
    <h1>Recent alerts</h1>
    <ul>
      <li>⚠️ Electrical system anomaly – Battery sensor reports unstable voltage.</li>
      <li>⚠️ Suspension check recommended – Irregular vibration detected on front axis.</li>
    </ul>
  </div>

  <!-- Imagen del vehículo -->
  <div class="vehicle-status-container">
    <h1>Vehicle status</h1>
    <p>Vehicle identified - diagnostic active</p>
    <img src="https://www.toyotaperu.com.pe/sites/default/files/360/rush_blancow09_00.jpg" alt="Toyota Rush car" />
  </div>
</div>
