
.timeline-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 10px 0 20px;
  border-top: 1px solid gray;
  height: 30px;
}

.dot {
  width: 30px;
  height: 15px;
  background-color: black;
  border-radius: 50px;
  margin-top: -30px;
}

.timeline-info {
  display: flex;
  padding-top: 7%;
  padding-bottom: 7%;

  justify-content: space-around;
}

.month {
  text-align: center;
  font-size: 16px;
}
