<div class="container">
  <mat-card class="guide">
    <h3>Guía de conexión</h3>
    <ol>
      <li>Start the car</li>
      <li>Connect the scanner to your vehicle's OBD2 port.</li>
      <li>Activate Bluetooth</li>
      <li>Select the scanner</li>
      <li>Done, let the app do the work.</li>
    </ol>
    <img src="https://i.ibb.co/gFSf0r0t/vehix-obd.png" alt="Vehix OBD" class="vehix-img">
  </mat-card>

  <div class="center-content">
    <mat-card class="button-card">
      <div class="bluetooth-button" mat-ripple>
        <span>Tap to <br> activate <br> Bluetooth</span>
      </div>
      <div class="available-devices">
        <h4>Available devices</h4>
      </div>
    </mat-card>
  </div>

  <div class="right-section">
    <mat-card class="video-card">
      <h4>Instructional video</h4>
      <iframe width="260" height="215" src="https://www.youtube.com/embed/YGG9VLzeMk8?si=Soq7qW7Kio0ntuLl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card>

    <mat-card class="connected-devices">
      <h4>Connected devices</h4>
      <ul>
        <li>
          <mat-icon>smartphone</mat-icon>
          Redmi Note 13 Pro
        </li>
        <li>
          <mat-icon>smartphone</mat-icon>
          Galaxy A55
        </li>
      </ul>
    </mat-card>
  </div>
</div>
