<div class="main-container">
  <div class="plan-standard-container">
    <h1 class="plan-title-standard">{{ 'plan.title' | translate }}</h1>
    <h1 class="plan-type-title-standard">{{ 'plan.standard' | translate }}</h1>
    <h3 class="plan-type-terms-standard">{{ 'plan.termStandard' | translate }}</h3>
    <div class="list-benefits-plan-standard">
      <ul>
        <li>{{ 'plan.benefitStandard1' | translate }}</li>
        <li>{{ 'plan.benefitStandard2' | translate }}</li>
        <li>{{ 'plan.benefitStandard3' | translate }}</li>
        <li>{{ 'plan.benefitStandard4' | translate }}</li>
        <li>{{ 'plan.benefitStandard5' | translate }}</li>
        <li>{{ 'plan.benefitStandard6' | translate }}</li>
      </ul>
    </div>
    <div class="plan-price-standard">
      <h1 class="plan-symbol-price">$</h1>
      <h1 class="plan-standard-price">65.00</h1>
    </div>
      <h6 class="plan-time-membership">{{ 'plan.monthlyMembership' | translate }}</h6>

  </div>

  <div class="plan-pro-container">
    <h1 class="plan-title-pro">{{ 'plan.title' | translate }}</h1>
    <h1 class="plan-type-title-pro">{{ 'plan.pro' | translate }}</h1>
    <h3 class="plan-type-terms-pro">{{ 'plan.termPro' | translate }}</h3>
    <div class="list-benefits-plan-pro">
      <ul>
        <li>{{ 'plan.benefitPro1' | translate }}</li>
        <li>{{ 'plan.benefitPro2' | translate }}</li>
        <li>{{ 'plan.benefitPro3' | translate }}</li>
        <li>{{ 'plan.benefitPro4' | translate }}</li>
        <li>{{ 'plan.benefitPro5' | translate }}</li>
        <li>{{ 'plan.benefitPro6' | translate }}</li>
      </ul>
    </div>
    <div class="plan-price-pro">
      <h1 class="plan-symbol-price">$</h1>
      <h1 class="plan-pro-price">99.99</h1>
    </div>
      <h6 class="plan-time-membership">{{ 'plan.monthlyMembership' | translate }}</h6>

  </div>

</div>
